

* {
    box-sizing: border-box;
    text-align: center;
    background-color: gray;
  }
header {
    padding: 35px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(128, 124, 124);
    background: rgb(228, 228, 228);
    width: 960px;
  }
 Nav {
    padding: 35px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(128, 124, 124);
    background: rgb(228, 228, 228);
    width: 960px;
  }

  #full {
    width: 960px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  #section {
    float: left;
    padding: 30px 10px 10px 10px;
    margin: 10px 10px 10px auto;
    background: #ebebeb;
    color: gray;
    width: 550px;
  }

  align {
    float: right;
    height: 311px;
    width: 390px;
    padding: 30px;
    margin: 10px auto 10px 10px;
    background: #ebebeb;
    color: gray;
  }

  article {
    background-color: gray;
    color: rgb(204, 204, 204);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h1 {
    background-color: rgb(214, 210, 210);
    color: rgb(129, 128, 128);
    padding: 15px;
  }

  p{
    background-color: rgb(214, 210, 210);
    color: rgb(129, 128, 128);
    padding: 15px;
    
  }

  footer {
  padding: 35px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(128, 124, 124);
  background: rgb(228, 228, 228);
  width: 960px;
  }